<div class="bg-white p-3 rounded-3 d-lg-flex justify-content-between align-items-center">
  <div class="right-side">
    <div class="d-flex align-items-center gap-2">
      <span class="dark-badge py-1 px-2 rounded-3 font-size-20 font-bold">8056/01</span>
      <h1 class="dark-heading-color font-size-20 font-bold">اجتماع مجلس المديرين الثاني لعام 2023م</h1>
    </div>
    <div class="d-sm-flex align-items-center gap-2 mt-2">
      <div class="d-flex align-items-center gap-1 light-gray-color">
        <i class="bi bi-geo-alt"></i>
        <p class="font-size-14">حضوري</p>
      </div>
      <div class="d-flex align-items-center gap-1 light-gray-color">
        <i class="bi bi-calendar-week"></i>
        <p class="font-size-14">الأربعاء 2023/03/29م الموافق 1444/09/07 هـ</p>
      </div>
      <div class="d-flex align-items-center gap-1 light-gray-color">
        <i class="bi bi-clock"></i>
        <p class="font-size-14">من الساعة 12:30 إلى 02:00 م</p>
      </div>
    </div>
  </div>
  <div class="left-side light-blue-badge py-2 px-5 mt-3 mt-lg-0 rounded-3 text-center">
    <p class="font-size-14 light-heading-color">الوقت المتبقي</p>
    <div class="font-size-14 d-flex justify-content-center align-items-center gap-1">
      <i class="bi bi-clock"></i>
      <span>02:20:59</span>
    </div>
  </div>
</div>